* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(24deg, rgba(40,44,52,1) 0%, rgb(41, 49, 64) 100%);
  font-family: "Arial Black", serif;
  color: #a9b1c1;
}

.App {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 6vmin;
  position: relative;
  left: 18%;
}

.header {
  background-color: #21242b;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.navbar_top {
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  right: 20%;
}

button {
  cursor: pointer;
}

.navbar_top button {
  background-color: transparent;
  border: none;
  color: #a8b0bf;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.navbar_top button:hover {
  color: #737880;
}

.main {
  height: 80vh;
  width: 100%;
  align-content: center;
  text-align: center;
}

.About {
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.About img {
  width: 50%;
}

.contactInfo {
  list-style: none;
}
.contactIcons {

}

.ContactMenu {
  background-color: #1d1f23;
  position: fixed;
  text-align: center;
  width: 35vw;
  height: 70vh;
  left: 30vw;
  top: 0;
  border-radius: 0 0 10px 10px;
}

.ContactMenu form {
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
}
.ContactMenu form input {
  background-color: rgba(67, 87, 113, 0.12);
  color: white;
  border-radius: 2px;
  margin-top: 10px;
}
.ContactMenu form textarea {
  background-color: rgba(67, 87, 113, 0.12);
  color: white;
  resize: none;
  height: 45vh;
  margin: 20px 0 20px 0;
}

.ContactMenu button {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 20px;
}

.contactIcons img {
  width: 10vh;
  padding: 10px;
  -webkit-filter:invert(100%);

}

.summary {
  background-color: #242730;
  width: 30%;
  height: 100%;
}

.extra {
  width: 70%;
  height: 100%;
}

.homeButton {
  position: relative;
  left: 45%;
  top: 5%;
  background-color: #dd3636;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.homeButton:hover {
  translate: 5px -2px;
  box-shadow: rgba(0, 0, 0, 0.54) -2px 5px 1px;
  background: linear-gradient(24deg, rgba(255,0,0,1) 0%, rgba(217,89,89,1) 81%);
}

.name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.aboutButton {
  background-color: #dd3636;
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.aboutButton:hover {
  translate: 5px -2px;
  box-shadow: rgba(0, 0, 0, 0.54) -2px 5px 1px;
  background: linear-gradient(24deg, rgba(255,0,0,1) 0%, rgba(217,89,89,1) 81%);

}

.footer {
  text-align: center;
  background-color: #21242b;
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
}